@color: #ffde16;
@dark_color: #9C8579;

/* Link Color and Styles */
a, a:active, a:visited { color: @color; }
a:hover { text-decoration: underline; }


/* Custom highlight */
::-moz-selection{ background: rgba(255, 222, 22, .6); text-shadow: 1px 1px 0 #777; }
::selection { background: rgba(255, 222, 22, .6); text-shadow: -1px 1px 0 #777; }

/* I never find myself really using list-style. */
ul{ list-style: none; }

body{
    color: #444;
}

header{
    background: url('/static/img/repeat_header.png') repeat-x;
    display:block;
    height: 338px;
    margin-bottom: 50px;
    .header_bg{
        background: url('/static/img/header.png') no-repeat center center;
        height: 338px;
        margin: 0 auto;
        width: 960px;
    }
}

#upload{
    background: #EAEBE4;
    border: 1px solid @dark_color;
    margin: 0 auto 75px;
    padding: 25px;
    width: 35%;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    label{
        color: #666;
        text-transform: uppercase;
    }
    input, textarea{
        font-size: 16px;
        margin: 20px 0 5px;
        padding: 7px;
        width: 100%;
    }
    hr{
        border-top: 1px solid @dark_color;
        display: block;
        margin: 35px 0;
    }
    #file{
        background: white;
        color: @dark_color;
    }
    #submit{
        display: block;
        font-weight: normal;
        margin-left: 50%;
        width: 50%;
    }
    .disclaimer{
        margin: 60px 0 20px;
    }
    .errors, li{
        color: #ab0000;
        margin: 0 0 40px;
        text-transform: uppercase;
    }
}


footer{
    height: 50px;
    margin: 100px 0 0;
    width: 100%;
    .cfa{
        background: url('/static/img/cfa_dark.png') no-repeat center center;
        height: 34px;
    }
    .cfa:hover{
        background-image: url('/static/img/cfa_color.png');
    }
}

::-webkit-input-placeholder { color: #9C8579; }
:-moz-placeholder { color: #9C8579; }

.thanks{
    margin-top: 100px;
    h1{
        color: #222;
        font-size: 64px;
        padding: 25px 0 10px;
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
}
