a,a:active,a:visited{color:#ffde16;}
a:hover{text-decoration:underline;}
::-moz-selection{background:rgba(255, 222, 22, 0.6);text-shadow:1px 1px 0 #777;}
::selection{background:rgba(255, 222, 22, 0.6);text-shadow:-1px 1px 0 #777777;}
ul{list-style:none;}
body{color:#444;}
header{background:url('/static/img/repeat_header.png') repeat-x;display:block;height:338px;margin-bottom:50px;}header .header_bg{background:url('/static/img/header.png') no-repeat center center;height:338px;margin:0 auto;width:960px;}
#upload{background:#EAEBE4;border:1px solid #9c8579;margin:0 auto 75px;padding:25px;width:35%;-moz-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;}#upload label{color:#666;text-transform:uppercase;}
#upload input,#upload textarea{font-size:16px;margin:20px 0 5px;padding:7px;width:100%;}
#upload hr{border-top:1px solid #9c8579;display:block;margin:35px 0;}
#upload #file{background:white;color:#9c8579;}
#upload #submit{display:block;font-weight:normal;margin-left:50%;width:50%;}
#upload .disclaimer{margin:60px 0 20px;}
#upload .errors,#upload li{color:#ab0000;margin:0 0 40px;text-transform:uppercase;}
footer{height:50px;margin:100px 0 0;width:100%;}footer .cfa{background:url('/static/img/cfa_dark.png') no-repeat center center;height:34px;}
footer .cfa:hover{background-image:url('/static/img/cfa_color.png');}
::-webkit-input-placeholder{color:#9C8579;}
:-moz-placeholder{color:#9C8579;}
.thanks{margin-top:100px;}.thanks h1{color:#222;font-size:64px;padding:25px 0 10px;text-align:center;}
.thanks p{font-size:20px;text-align:center;}
